<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{{ ${1:price variable?} | money }}</string>
	<key>name</key>
	<string>money</string>
	<key>scope</key>
	<string>text.html.liquid</string>
	<key>tabTrigger</key>
	<string>lm</string>
	<key>uuid</key>
	<string>C6A8E286-BDB5-4087-BCFC-FDC0A664AC63</string>
</dict>
</plist>
