<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{{ '${3:file name?}' | asset_url | script_tag }}
</string>
	<key>name</key>
	<string>script_tag</string>
	<key>scope</key>
	<string>text.html.liquid</string>
	<key>tabTrigger</key>
	<string>lst</string>
	<key>uuid</key>
	<string>CB617F85-F9AC-4F26-A48A-F3B8BB105045</string>
</dict>
</plist>
