<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{{ shop.currency }}</string>
	<key>name</key>
	<string>shop.currency</string>
	<key>scope</key>
	<string>text.html.liquid</string>
	<key>tabTrigger</key>
	<string>lsc</string>
	<key>uuid</key>
	<string>5CC96480-40EE-4A93-B10E-307D85F090AC</string>
</dict>
</plist>
