<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>shop.name</string>
	<key>name</key>
	<string>shop.name</string>
	<key>scope</key>
	<string>source.liquid.output.embedded.html, source.liquid.tags.embedded.html</string>
	<key>tabTrigger</key>
	<string>lsn</string>
	<key>uuid</key>
	<string>0BF7CE91-16E9-467A-B91B-F40443B3E9EB</string>
</dict>
</plist>
