<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{{ '${1:type?}' | link_to_type }}</string>
	<key>name</key>
	<string>type_link</string>
	<key>scope</key>
	<string>text.html.liquid</string>
	<key>tabTrigger</key>
	<string>ltyl</string>
	<key>uuid</key>
	<string>5DAE4620-8DAC-4415-A3D2-CEF86B7DA665</string>
</dict>
</plist>
